<%= search_form_for @q, :class => collapse_search_form, :id => "budgets_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :description_cont, "Description contains" %>
    <%= f.text_field :description_cont, :class => "form-control", :placeholder => "Description contains" %>
  </div>

  <div class="form-group">
    <%= f.label :month_date, "Month date" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='month_dategteqPicker' data-target-input="nearest">
          <%= f.text_field :month_date_gteq, :class => "form-control datetimepicker-input", :placeholder => "Month date greater than or equal to", :data => {:target => '#month_dategteqPicker'} %>
          <div class="input-group-append" data-target='#month_dategteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='month_datelteqPicker' data-target-input="nearest">
          <%= f.text_field :month_date_lteq, :class => "form-control datetimepicker-input", :placeholder => "Month date less than or equal to", :data => {:target => '#month_datelteqPicker'} %>
          <div class="input-group-append" data-target='#month_datelteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#month_dategteqPicker').datetimepicker({
              format: 'MM/DD/YYYY'
          });
          $('#month_datelteqPicker').datetimepicker({
              useCurrent: false,
              format: 'MM/DD/YYYY'
          });
          $('#month_dategteqPicker').on("dp.change", function (e) {
              $('#month_datelteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#month_datelteqPicker').on("dp.change", function (e) {
              $('#month_dategteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :deleted_eq, "Deleted" %>
    <div>
      <label class="radio-inline">
        <%= f.radio_button :deleted_eq, "1", checked: ((params[:q] && params[:q][:deleted_eq]) == "1" ? "checked" : "") %> Yes
      </label>
      <label class="radio-inline">
        <%= f.radio_button :deleted_eq, "0", checked: ((params[:q] && params[:q][:deleted_eq]) == "0" ? "checked" : "")%> No
      </label>
      <label class="radio-inline">
        <%= f.radio_button :deleted_eq, ""%> Either
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :category_name_cont, "Category name contains" %>
    <%= f.text_field :category_name_cont, :class => "form-control", :placeholder => "Category name contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/budgets" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#budgets_filters">
  Show filters
</a>
