<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Budget #<%= @budget.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/budgets" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/budgets/<%= @budget.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit budget
        </a>
      </div>

      <div class="col">
        <a href="/delete_budget/<%= @budget.id %>" class="btn btn-block btn-outline-secondary">
          Delete budget
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @budget.description %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <% if @budget.category.present? %>
          <a href="/categories/<%= @budget.category_id %>">
            <%= @budget.category.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Deleted
      </dt>
      <dd>
        <%= @budget.deleted %>
      </dd>

      <dt>
        Month date
      </dt>
      <dd>
        <%= @budget.month_date %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@budget.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@budget.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

