<form action="/create_transaction_from_vendor" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @transaction.description %>">
  </div>

  <input type="hidden" name="vendor_id" value="<%= @vendor.id %>">

  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name, @transaction.category_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="deleted">
      Deleted
    </label>
    <input id="deleted" class="form-check-input" name="deleted" type="checkbox" <%= "checked" if @transaction.deleted %>>
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @transaction.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="purchase_date">
      Purchase date
    </label>

    <input type="text" id="purchase_date" name="purchase_date" class="form-control" value="<%= @transaction.purchase_date %>">
  </div>

  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <input type="text" id="amount" name="amount" class="form-control" value="<%= @transaction.amount %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create transaction
  </button>
</form>
