<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Vendor #<%= @vendor.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/vendors" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/vendors/<%= @vendor.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit vendor
        </a>
      </div>

      <div class="col">
        <a href="/delete_vendor/<%= @vendor.id %>" class="btn btn-block btn-outline-secondary">
          Delete vendor
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @vendor.name %>
      </dd>

      <dt>
        Deleted
      </dt>
      <dd>
        <%= @vendor.deleted %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@vendor.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@vendor.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "vendor_templates/vendor_transactions" %>
  </div>
</div>
