<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All transactions
    </h1>

    <a href="/transactions/new" class="btn btn-block btn-outline-secondary">
      Add a new transaction
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "transaction_templates/transactions_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Description
        </th>

        <th>
          Vendor
        </th>

        <th>
          Category
        </th>

        <th>
          Deleted
        </th>

        <th>
          User
        </th>

        <th>
          Purchase date
        </th>

        <th>
          Amount
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @transactions.each do |transaction| %>
      <tr>
        <td>
          <%= transaction.id %>
        </td>

        <td>
          <%= transaction.description %>
        </td>

        <td>
          <% if transaction.vendor.present? %>
            <a href="/vendors/<%= transaction.vendor.id %>">
              <%= transaction.vendor.name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if transaction.category.present? %>
            <a href="/categories/<%= transaction.category.id %>">
              <%= transaction.category.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= transaction.deleted %>
        </td>

        <td>
          <% if transaction.user.present? %>
            <a href="/users/<%= transaction.user.id %>">
              <%= transaction.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= transaction.purchase_date %>
        </td>

        <td>
          <%= transaction.amount %>
        </td>

        <td>
          <%= time_ago_in_words(transaction.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(transaction.updated_at) %> ago
        </td>

        <td>
          <a href="/transactions/<%= transaction.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @transactions, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
