<% if @transaction.present? %>
  <% if @transaction.errors.any? %>
    <% @transaction.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new transaction
</h1>


<hr>

<form action="/create_transaction" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @transaction.description %>">
  </div>

  <div class="form-group">
    <label for="vendor_id">
      Vendor
    </label>

    <%= select_tag(:vendor_id, options_from_collection_for_select(Vendor.all, :id, :name, @transaction.vendor_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name, @transaction.category_id), :class => "form-control") %>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="deleted">
    <input id="deleted" class="form-check-input" name="deleted" type="checkbox" <%= "checked" if @transaction.deleted %>>
    <label for="deleted" class="form-check-label">
      Deleted
    </label>
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @transaction.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="purchase_date">
      Purchase date
    </label>

    <input type="text" id="purchase_date" name="purchase_date" class="form-control" value="<%= @transaction.purchase_date %>">
  </div>

  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <input type="text" id="amount" name="amount" class="form-control" value="<%= @transaction.amount %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create transaction
  </button>
</form>

<hr>

<a href="/transactions">
  Go back
</a>
