<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Transaction #<%= @transaction.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/transactions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/transactions/<%= @transaction.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit transaction
        </a>
      </div>

      <div class="col">
        <a href="/delete_transaction/<%= @transaction.id %>" class="btn btn-block btn-outline-secondary">
          Delete transaction
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @transaction.description %>
      </dd>

      <dt>
        Vendor
      </dt>
      <dd>
        <% if @transaction.vendor.present? %>
          <a href="/vendors/<%= @transaction.vendor_id %>">
            <%= @transaction.vendor.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <% if @transaction.category.present? %>
          <a href="/categories/<%= @transaction.category_id %>">
            <%= @transaction.category.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Deleted
      </dt>
      <dd>
        <%= @transaction.deleted %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @transaction.user.present? %>
          <a href="/users/<%= @transaction.user_id %>">
            <%= @transaction.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Purchase date
      </dt>
      <dd>
        <%= @transaction.purchase_date %>
      </dd>

      <dt>
        Amount
      </dt>
      <dd>
        <%= @transaction.amount %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@transaction.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@transaction.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

